<div class="dropdown">
  <form action="/sort" method="POST" class="filters">
  <select name="sort" id="">
    <option selected='selected'>Sort By</option>
    <option value="1" name="<" id="">Price Low - Price High</option>
    <option value="-1" name=">" id="">Price High - Price Low</option>
  </select>
    <input type="submit" value="Apply">
  </form>
  
  <form action="/filter" method="POST" class="filters">
    <select  class="filters" name="filter" id="">
      <option selected='selected'>Filter By</option>
      <option value="Minivan">Minivan</option>
      <option value="Sedan">Sedan</option>
      <option value="Truck">Truck</option>
      <option value="Wagon">Wagon</option>
      <option value="SUV">SUV</option>
      <option value="Crossover">Crossover</option>
      <option value="Sports Car">Sports Car</option>
      <option value="Luxury Car">Luxury Car</option>
    </select>
    <input class="filters" type="submit" value="Filter by type">
  </form>
  <h2>Select car:<h2>
      <br>
      <div id="container">
        <br>
        {{#each cars as |car|}}

        <div class="detailcar">
          <a href="/cars/detail/{{car._id}}">
            <img src="{{car.imagecar}}" alt="{{car.imagecar}}" class="cardsImg">
            <h2>{{car.carmodel}}</h2>
            <b><p>Owner:</b> {{car.owner}}</p>
            <b><p>Features:</b> {{car.features}}</p>
            <b> <p>Price </b> ${{car.priceperday}}MXN</p>
            <button class="bookbutton" type="submit">Book</button>
          </a>
        </div>
   
        {{/each}}
      </div>
</div>