<h2>{{message}}</h2>
<div id="container">

  <br>

  {{#each cars as |car|}}

  <div>
    <a href="/cars/detail/{{car._id}}">
      <img src="{{car.imagecar}}" alt="{{car.imagecar}}" class="cardsImg">
      <h2>{{car.carmodel}}</h2>
      <p>Owner: {{car.owner}}</p>
      <p>Features: {{car.features}}</p>
      <p>Price: ${{car.priceperday}}MXN</p>
      <button type="submit">Book</button>

    </a>
  </div>
  {{/each}}
</div>