<div class="dropdown">
  <button>Sort By</button>

  <button>Filter By</button>
  <h2>Select car:<h2>
      <br>
      <div id="container">
        <br>
        {{#each cars as |car|}}

        <div class="detailcar">
          <a href="/cars/detail/{{car._id}}">
            <img src="{{car.imagecar}}" alt="{{car.imagecar}}" class="cardsImg">
            <h2>{{car.carmodel}}</h2>
            <b>
              <p>Owner:
            </b> {{car.owner}}</p>
            <b>
              <p>Features:
            </b> {{car.features}}</p>
            <b>
              <p>Price:
            </b> ${{car.priceperday}}MXN</p>
            <button class="bookbutton" type="submit">Book</button>
          </a>
        </div>
        <br>
        {{/each}}
      </div>
</div>