<a href="/cars/detail/{{_id}}">Go back</a>
<br>
<br>

<div>
  <img src="{{imagecar}}" alt="{{imagecar}}" class="cardsImg-detail">
  <h2>{{carmodel}}</h2>
  <p>Owner: {{owner}}</p>
  <p>Features: {{features}}</p>
  <p>Description: {{description}}</p>
  <p>Price: ${{priceperday}}MXN</p>

  <a href="/cars/detail/{{_id}}/checkout"><button>Go to checkout</button></a>
  <p class="you-wont">You won't be charged yet</p>
</div>
<div>
</div>