<a href="/cars/detail/{{car._id}}">Go back</a>
<br>
<br>

<div>
  <img src="{{car.imagecar}}" alt="{{imagecar}}" class="cardsImg">
  <h2>{{car.carmodel}}</h2>
  <p>Owner: {{car.owner}}</p>
  <p>Features: {{car.features}}</p>
  <p>Description: {{description}}</p>
  <p>Price: ${{priceperday}}MXN</p>
</div>