<br>

<div class="detailcar">
  <img src="{{imagecar}}" alt="{{carmodels}}" class="cardsImg-detail">
  <h2>{{carmodel}}</h2>
</div>
<div class="checkoutpar">

  <b>
    <p>Owner:
  </b> {{owner}}</p>
  <b>
    <p>Features:
  </b> {{features}}</p>
  <b>
    <p>Passengers:
  </b> 👤{{passengers}} </p>
  <b>
    <p>Transmission:
  </b> {{transmission}} </p>
  <b>
    <p>Description:
  </b> {{description}}</p>
  <b>
    <p>Price:
  </b> ${{priceperday}}MXN</p>
</div>
<div class="detailcar">
  <a href="/cars/detail/{{_id}}/checkout"><button class="bookbutton">Go to checkout</button></a>
  <p class="you-wont">You won't be charged yet</p>
</div>
</div>
<div>
</div>transmission